{% extends 'index.html' %}
{% load static %}

{% block main %}
    <!-- Main -->
    <div id="main">

        <!-- Featured Post -->
        <article class="post featured">
            <header class="major scroll-animate-up">
                {# <span class="date">{% now "F d, Y H:i" %}</span> #}
                <span class="date" id="live-time"></span>
                <h2><a href="#myself">Who Am I</a></h2>
                <p>
                    <a href="#myself">My Self</a> |
                    <a href="#education">Education</a> |
                    <a href="#profession">Profession</a> |
                    <a href="#hobbies">Hobbies</a> |
                    <a href="#sports">Sports</a>
                </p>
            </header>

            <a href="#" class="image main scroll-animate-down">
                <img src="{% static 'images/pic01.jpg' %}" alt=""/>
            </a>

            <div id="myself" class="sub-article">
                <h2 class="title scroll-animate-left">My Self</h2>
                <p class="scroll-animate-up">
                    Hello! I’m <b>Minimuthu Rajapaksha Pathirannahalage Nuwanga Tharuksha Rajapaksha</b>,
                    a 24-year-old <b>Software Engineer, Photographer, Graphic Designer and Video Editor</b>
                    from <b>Kelaniya, Sri Lanka.</b> I studied at
                    <a href="https://nalandacollege.lk/" target="_blank" rel="noopener noreferrer"><b>Nalanda College Colombo 10,</b></a>
                    where my passion for technology, creativity, and leadership first began to grow.
                    I earned a <b>Bachelor’s degree in Software Engineering from
                    <a href="https://www.bcu.ac.uk/" target="_blank" rel="noopener noreferrer">Birmingham City University</a></b>
                    and now work professionally as a Software Engineer, developing innovative solutions
                    to real-world challenges. While coding is my career, photography, graphic design and
                    video editing are my creative outlets—hobbies that allow me to express emotion, capture
                    beauty, and bring imagination to life in visual form.
                </p></div>

            <div id="education" class="sub-article">
                <h2 class="title scroll-animate-left">Education</h2>
                <p class="scroll-animate-up">
                    <a href="https://nalandacollege.lk/" target="_blank" rel="noopener noreferrer">
                <span class="image left" style="max-width: 20%;">
                    <img src="{% static 'images/nalanda.png' %}" alt="Nalanda College"/>
                </span>
                    </a>
                    I began my education at <a href="https://nalandacollege.lk/" target="_blank" rel="noopener noreferrer"><b>Nalanda College,</b></a>
                    where I actively participated in extracurricular activities including working with the
                    <a href="https://www.facebook.com/csnclabsofficial" target="_blank" rel="noopener noreferrer"><b>Computer Society</b></a>.
                    I passed the Ordinary Level (O/L) examination with excellent results.
                    However, due to my high involvement in extracurricular responsibilities,
                    I was unable to perform to my full potential in the Advanced Level (A/L) examination.
                </p>
                <p class="scroll-animate-up">
                    <a href="https://www.sqa.org.uk/sqa/70972.html" target="_blank" rel="noopener noreferrer">
                <span class="image right" style="max-width: 20%;">
                    <img src="{% static 'images/sqa.png' %}" alt="SQA"/>
                </span>
                    </a>
                    <a href="https://www.bcu.ac.uk/" target="_blank" rel="noopener noreferrer">
                <span class="image right" style="max-width: 20%;">
                    <img src="{% static 'images/bcu.png' %}" alt="BCU"/>
                </span>
                    </a>
                    Driven by my long-standing passion for software development,
                    I pursued professional qualifications awarded by the
                    <a href="https://www.sqa.org.uk/sqa/70972.html" target="_blank" rel="noopener noreferrer"><b>Scottish Qualifications Authority (SQA),</b></a>
                    completing both the <b>Professional Diploma (SQAF Level 7),
                    Professional Higher Diploma (SQAF Level 8), and PCJT Software Engineer III (SQAF Level 9)</b>
                    in Software Engineering. Eventually, I completed my
                    <b>Bachelor of Science with Honours in Software Engineering at
                        <a href="https://www.bcu.ac.uk/" target="_blank" rel="noopener noreferrer">Birmingham City University, UK,</a></b>
                    further strengthening my academic and technical foundation.
                </p>
            </div>

            <div id="profession" class="sub-article">
                <h2 class="title scroll-animate-left">Profession</h2>
                <p class="scroll-animate-up">
                    <a href="https://www.xdoto.io/" target="_blank" rel="noopener noreferrer">
                <span class="image left" style="max-width: 20%;">
                    <img src="{% static 'images/xdoto-logo.png' %}" alt="Xdoto"/>
                </span>
                    </a>
                    I have over <b>two years of professional experience in full-stack development,</b> having started as
                    <b>an
                        intern and advanced to a Software Engineer at <a href="https://www.xdoto.io/" target="_blank" rel="noopener noreferrer">XdotO Concepts Pte
                            Limited. </a></b> In addition to my full-time role, I’ve pursued my passion through several
                    <b>freelance</b> projects. My journey has taken me through a range of impactful projects, including
                    an
                    <b>Industry 4.0 Machine Monitoring System, an Alarms and Notification Mobile Application, and a
                        Process
                        Monitoring System.</b> These experiences have helped me build a strong foundation in <b>modern
                    development practices and architectural thinking,</b> while also sharpening my skills in <b>collaborative
                    problem-solving, leadership, lifecycle management, client handling, teamwork, time management,
                    communication, critical thinking, and nurturing a passion for continuous learning.</b> I'm always
                    eager
                    to learn and stay up to date with the latest tools, frameworks, and industry trends.
                </p></div>

            <div id="hobbies" class="sub-article">
                <h2 class="title scroll-animate-left">Hobbies</h2>
                <p class="scroll-animate-up">
                    <a href="https://stock.adobe.com/lk/contributor/209350230/nuwangarajapaksha" target="_blank" rel="noopener noreferrer">
                    <span class="image right" style="max-width: 10%;">
                        <img src="{% static 'icons/adobe.svg' %}" alt="Adobe Stock"/>
                    </span>
                    </a>
                    <a href="https://www.shutterstock.com/g/nuwangarajapaksha" target="_blank" rel="noopener noreferrer">
                    <span class="image right" style="max-width: 10%;">
                        <img src="{% static 'icons/shutterstock.svg' %}" alt="Shutterstock"/>
                    </span>
                    </a>
                    Outside of my professional work, I’m deeply passionate about
                    <b>Photography—capturing landscapes, moments, and emotions</b> with a creative eye.
                    My photography is <b>not only a form of artistic expression but also a source of income</b>,
                    as I actively sell my photos on stock platforms such as
                    <a href="https://www.shutterstock.com/g/nuwangarajapaksha" target="_blank" rel="noopener noreferrer"><b>Shutterstock</b></a> and
                    <a href="https://stock.adobe.com/lk/contributor/209350230/nuwangarajapaksha" target="_blank" rel="noopener noreferrer"><b>Adobe Stock</b></a>.
                </p>

                <p class="scroll-animate-up">
                    I also enjoy <b>Graphic design and Video Editing,</b>
                    which allow me to explore visual storytelling and sharpen my creative skills.
                    These hobbies directly contribute to my sense of aesthetics in UI/UX development.
                    I have strong proficiency in the <b>Adobe Creative Suite</b>,
                    including <b>Photoshop, Illustrator, Premiere Pro, After Effects, and Lightroom.</b>
                </p>

                <div class="box alt scroll-animate-down">
                    <div class="row gtr-50 gtr-uniform">
                        {% for icon in tech_icons_row1 %}
                            <div class="col-1">
                    <span class="image fit">
                        <img src="{% static 'icons/'|add:icon|add:'.svg' %}" alt="{{ icon|title }}"/>
                    </span>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <p class="scroll-animate-up">
                <span class="image right" style="max-width: 10%;">
                    <img src="{% static 'images/hiking.png' %}" alt="Hiking"/>
                </span>
                    <b>Traveling</b>, especially <b>mountaineering and nature exploration,</b> fuels my creativity
                    and provides fresh inspiration. Exploring new environments <b>gives me unique perspectives</b>
                    that positively influence both my personal development and my approach to professional projects.
                </p>
            </div>

            <div id="sports" class="sub-article">
                <h2 class="title scroll-animate-left">Sports</h2>
                <p class="scroll-animate-up">
            <span class="image left" style="max-width: 10%;">
                <img src="{% static 'images/weightlifting.png' %}" alt="Weightlifting"/>
            </span>
                    I have a consistent <b>gym journey,</b> which plays an essential role in
                    <b>maintaining both my physical health and mental discipline.</b>
                    Fitness challenges me to <b>push my limits, stay focused, and remain energized</b>
                    to tackle professional and personal goals alike.
                </p>
            </div>
            <p class="scroll-animate-up">
                In every aspect of my life—whether it's building scalable software solutions,
                capturing the perfect photo, crafting compelling visuals, or pushing my physical limits at the gym—
                I strive for excellence, creativity, and continuous growth.
                My journey so far has been shaped by passion, persistence, and a commitment to learning.
                As a Software Engineer with a creative edge and a strong foundation in both academic and real-world
                experience,
                I aim to make a meaningful impact through technology, while also embracing the artistic and adventurous
                sides of life that keep me inspired and motivated every day.
            </p>

            <i class="fa-solid fa-hourglass-start scroll-animate-down"></i>
        </article>

        <footer></footer>
    </div>
{% endblock %}
