{% extends 'index.html' %}
{% load static %}
{% block main %}

    <!-- Main -->
    <div id="main">

        <!-- Featured Post -->
        <article class="post featured">
            <header class="major scroll-animate-up">
                <span class="date" id="live-time"></span>
                <h2><a href="#">Photographic Journey</a></h2>
                <p>
                    <a href="#commence">Commence</a> |
                    <a href="#studies">Studies</a> |
                    <a href="#career">Career</a> |
                    <a href="#gears">Gears</a>
                </p>
            </header>

            <a href="#" class="image main scroll-animate-down">
                <img src="{% static 'images/photography/photography-main.png' %}" alt=""/>
            </a>

            <!-- Commence Section -->
            <div id="commence" class="sub-article">
                <h2 class="title scroll-animate-left">Commence</h2>
                <p class="scroll-animate-up">
                    {#                    <a href="https://nalandacollege.lk/">#}
                    {#                        <span class="image left" style="max-width: 20%;">#}
                    {#                            <img src="{% static 'images/nalanda.png' %}" alt="Nalanda College"/>#}
                    {#                        </span>#}
                    {#                    </a>#}
                    Photography has always been one of my <b>innate talents</b>—something that came naturally to me from
                    a very
                    young age. My journey <b>began in childhood,</b> not with expensive cameras or formal training, but
                    with a
                    simple <b>mobile phone.</b> I was fascinated by the ability to freeze a moment in time, to tell
                    stories
                    through visuals, and to see the world through a different lens. Even as a child, I found myself
                    drawn to the small details—the way light fell across a surface, the symmetry in nature, or the
                    emotions captured in a candid smile.
                </p>
                <p class="scroll-animate-up">
                    <a href="https://www.facebook.com/Nalanda.College.Photographic.Art.Society" target="_blank"
                       rel="noopener noreferrer">
                        <span class="image right" style="max-width: 20%;">
                            <img src="{% static 'images/common/nalanda-pas.png' %}" alt="Nalanda College
                    Photographic Art Society"/>
                        </span>
                    </a>
                    My passion for photography began to take a more defined shape during my school years at Nalanda
                    College, where I was <b>deeply inspired by</b> the <b><a
                        href="https://www.facebook.com/Nalanda.College.Photographic.Art.Society" target="_blank"
                        rel="noopener noreferrer">Nalanda College
                    Photographic Art Society. The work</a></b>
                    produced by the members, as well as the creative atmosphere they fostered, gave me a sense of
                    direction. It opened my eyes to the artistic side of photography and helped me understand that it
                    was more than just clicking a button—it was about composition, emotion, timing, and storytelling.
                </p>
                <p class="scroll-animate-up">
                    Beyond school, I found <b>further inspiration</b> from both <b>local and international photographers
                    on social
                    media platforms.</b> I would spend hours studying their work, learning different techniques,
                    experimenting with styles, and absorbing knowledge from various online communities. Their creativity
                    pushed me to keep improving and evolving as a photographer.
                </p>
            </div>
            <!-- Higher Studies Section -->
            <div id="studies" class="sub-article">
                <h2 class="title scroll-animate-left">Higher Studies</h2>

                <p class="scroll-animate-up">
                    <a href="https://www.cameralk.com/academy?srsltid=AfmBOopfITRL-4tIh0sBgUpuBDxg1YjW1BzSK1IDX6jvnqyQKVBLxFJa"
                       target="_blank"
                       rel="noopener noreferrer">
                        <span class="image left" style="max-width: 20%;">
                            <img src="{% static 'images/photography/cameralk-academy.png' %}" alt="CameraLk"/>
                        </span>
                    </a>
                    After completing my school education, I decided to pursue my passion for photography by enrolling in
                    a <b>professional certificate course at <a
                        href="https://www.cameralk.com/academy?srsltid=AfmBOopfITRL-4tIh0sBgUpuBDxg1YjW1BzSK1IDX6jvnqyQKVBLxFJa"
                        target="_blank"
                        rel="noopener noreferrer">Cameralk Academy,</a></b> the educational division of <a
                        href="https://www.cameralk.com/" target="_blank"
                        rel="noopener noreferrer">Cameralk,</a> South
                    Asia’s largest and most renowned camera store. Cameralk Academy is known for its industry-standard
                    training programs and is guided by some of the most experienced professionals in the field.
                </p>
                <p class="scroll-animate-up">
                    <a href="https://www.facebook.com/mohan.hathnapitiya" target="_blank"
                       rel="noopener noreferrer">
                        <span class="image right" style="max-width: 20%;">
                            <img src="{% static 'images/photography/mohan-hathnapitiya.png' %}" alt="Mr. Mohan Hathnapitiya"/>
                        </span>
                    </a>
                    During this course, I had the privilege of studying under <b><a
                        href="https://www.facebook.com/mohan.hathnapitiya" target="_blank"
                        rel="noopener noreferrer">Mr. Mohan Hathnapitiya,</a></b> a highly reputed
                    photographer and respected lecturer in Sri Lanka. His extensive experience, artistic insight, and
                    practical guidance played a significant role in shaping my skills and understanding of photography
                    at a professional level.
                </p>
                <p class="scroll-animate-up">
                    Under his mentorship, I gained a solid foundation in <b>both the technical and artistic aspects</b>
                    of
                    photography. I learned <b>how to operate and maintain various types of cameras, including DSLR and
                    mirrorless systems, and developed skills in manual exposure control, focusing, and composition.</b>
                    I
                    was also <b>trained to critically "read" and analyze photographs—understanding lighting, framing,
                    emotion, and visual storytelling.</b> In addition, I studied <b>photo editing techniques, learning
                    to
                    enhance images using professional software to bring out their full creative potential.</b>
                </p>

                <P class="title scroll-animate-left"><b>The program offered specialized training in multiple photography
                    genres, including:</b></P>
                <ul>
                    <li class="scroll-animate-up"><b>Landscape Photography –</b> Exploring natural light, weather, and
                        perspective to capture
                        scenic beauty.
                    </li>
                    <li class="scroll-animate-up"><b>Wildlife Photography –</b> Mastering patience, timing, and
                        long-lens techniques to capture
                        animals in
                        natural habitats.
                    </li>
                    <li class="scroll-animate-up"><b>Model Photography –</b> Studio lighting, posing techniques, and
                        creative direction for
                        professional
                        portraits and fashion shoots.
                    </li>
                    <li class="scroll-animate-up"><b>Event Photography –</b> Capturing fast-moving moments with accuracy
                        and storytelling at
                        weddings,
                        cultural events, and concerts.
                    </li>
                     <li class="scroll-animate-up"><b>Street Photography –</b> Candidly documenting everyday life,
                        culture, and human interaction
                        in urban
                        environments.
                    </li>
                    <li class="scroll-animate-up"><b>Food Photography –</b> Styling and lighting techniques to create
                        vibrant, market-ready food
                        visuals.
                    </li>
                </ul>

                <p class="scroll-animate-up">
                    In addition to technical proficiency, the course <b>emphasized client communication and
                    professionalism.</b> I learned <b>how to work with clients effectively—understanding their vision,
                    offering
                    creative input, managing expectations, and delivering high-quality work on time.</b>
                </p>
                <p class="scroll-animate-up">
                    My time at <a
                        href="https://www.cameralk.com/academy?srsltid=AfmBOopfITRL-4tIh0sBgUpuBDxg1YjW1BzSK1IDX6jvnqyQKVBLxFJa"
                        target="_blank"
                        rel="noopener noreferrer">Cameralk Academy,</a> guided by <a
                        href="https://www.facebook.com/mohan.hathnapitiya" target="_blank"
                        rel="noopener noreferrer">Mr. Mohan Haththotuwa’s</a> expertise, was a transformative
                    experience that helped me evolve from a hobbyist to a professional. It laid the groundwork for my
                    continued growth in photography, and gave me the confidence, discipline, and creative direction
                    needed to succeed in the industry.
                </p>
            </div>
            <!-- Career Section -->
            <div id="career" class="sub-article">
                <h2 class="title scroll-animate-left">Career</h2>

                <p class="scroll-animate-up">
                    {#                    <a href="https://www.xdoto.io/" target="_blank" rel="noopener noreferrer">#}
                    {#                        <span class="image left" style="max-width: 20%;">#}
                    {#                            <img src="{% static 'images/xdoto-logo.png' %}" alt="Xdoto"/>#}
                    {#                        </span>#}
                    {#                    </a>#}

                    My journey in photography <b>began during my Advanced Level (A/L) school years</b>—a time when I was
                    still
                    discovering my creative voice. What started as a humble passion quickly transformed into a lifelong
                    commitment to capturing the world through my lens. I <b>began with simple birthday shoots and
                    small-scale events organized by schools, community centers, and various institutions.</b> These
                    early
                    experiences helped me <b>develop a strong foundation in working with people, understanding lighting
                    in
                    diverse environments, and cultivating an intuitive eye for detail.</b>
                </p>
                <p class="scroll-animate-up">
                    As I gained confidence and technical skills, I gradually advanced to more professional-level
                    photography, including high-end <b>birthday shoots, private parties, corporate events, and fashion
                    modeling portfolios.</b> Working with clients from different walks of life allowed me to refine my
                    artistic vision while maintaining a strong focus on client satisfaction and storytelling through
                    images.
                </p>
                <p class="scroll-animate-up">
                    In parallel to my client work, I also cultivated a deep personal passion for artistic and
                    exploratory photography. I ventured into <b>wildlife, landscape, and street photography, which
                    allowed
                    me to experience the world from new perspectives.</b> Whether it was the raw intensity of animals in
                    their natural habitat, the serene beauty of untouched landscapes, or the candid moments found in the
                    chaos of urban life, each genre taught me something unique about patience, timing, and emotion.
                </p>
                <p class="scroll-animate-up">
                    Recognizing the importance of building an audience and sharing my work with the world, I established
                    a presence across multiple social media platforms. My <b>photography and videography content are
                    consistently showcased on YouTube, Facebook, Instagram, and TikTok,</b> where I not only display
                    finished work but also share behind-the-scenes footage, editing techniques, and creative processes.
                    These platforms have enabled me to connect with a wide audience, collaborate with fellow creatives,
                    and stay updated with global trends in photography and content creation.
                </p>
                <p class="scroll-animate-up">
                    Through <b>years of hands-on experience, self-education, and client interaction, I’ve built a
                    multifaceted career in photography that bridges the technical and artistic, the professional and the
                    personal.</b> Today, I continue to explore new styles and push creative boundaries, driven by the
                    same
                    passion that first inspired me during my school years.
                </p>
            </div>

            <!-- Tech Stack -->
            <div id="gears" class="sub-article">
                <h2 class="title scroll-animate-left">Gears</h2>
                <ul>
                    <li class="scroll-animate-up"><b>Cameras:</b> Nikon D7200 APSC</li>
                    <li class="scroll-animate-up"><b>Lenses:</b>
                        <ul style="margin: 0; list-style-type: circle;">
                            <li>AF-P DX NIKKOR 18-55mm f/3.5-5.6G VR</li>
                            <li>AF-P NIKKOR 70-300mm f/4.5-5.6E ED VR</li>
                        </ul>
                    </li>
                    <li class="scroll-animate-up"><b>Editing Tools:</b> Adobe Photoshop, Adobe Lightroom</li>
                </ul>


                <!-- Tech Icon Grid -->
                <div class="box alt">
                    <div class="row gtr-30 gtr-uniform scroll-animate-down">
                        {% for camera in cameras %}
                            <div class="col-4">
                                <span class="image fit">
                                    <img src="{% static 'images/photography/'|add:camera|add:'.png' %}" alt="{{ camera|title }}"/>
                                </span>
                            </div>
                        {% endfor %}
                    </div>

                    <br>

                    <div class="row gtr-30 gtr-uniform scroll-animate-down">
                        {% for lens in lenses %}
                            <div class="col-4">
                                <span class="image fit">
                                    <img src="{% static 'images/photography/'|add:lens|add:'.png' %}" alt="{{ lens|title }}"/>
                                </span>
                            </div>
                        {% endfor %}
                    </div>

                    <br>

                    <div class="row gtr-30 gtr-uniform scroll-animate-down">
                        {% for icon in tech_icons %}
                            <div class="col-2">
                                <span class="image fit">
                                    <img src="{% static 'icons/'|add:icon|add:'.svg' %}" alt="{{ icon|title }}"/>
                                </span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <br>

            <!-- Final Paragraph -->
            <p class="scroll-animate-up">
                In conclusion, <b>my journey in photography has been a deeply personal and continually evolving
                experience—rooted in early passion, shaped by formal education, and refined through real-world
                practice.</b>
                From capturing simple moments with a mobile phone to producing professional-level work across diverse
                genres, photography has become more than just a creative outlet—it’s a way of life. With a strong
                foundation in both the technical and artistic aspects of the craft, a growing digital presence, and a
                commitment to lifelong learning, I am excited to keep exploring new horizons, telling meaningful stories
                through my lens, and inspiring others along the way.
            </p>

            <i class="fa-solid fa-arrow-down"></i>
        </article>


        <!-- Posts -->
        <section class="posts">
        <article class="scroll-animate-up">
                <header>
                    <h2><a href="#">Landscape Photography</a></h2>
                </header>
               <a data-fancybox="landscape" data-caption="landscape01"
                   href="{% static 'images/photography/landscape/landscape01.png' %}" class="image fit"><img
                        src="{% static 'images/photography/landscape/landscape01.png' %}" alt="landscape01"/></a>
                <div class="row gtr-30 gtr-uniform">
                    {% for image in landscape_images %}
                        <div class="col-6">
                            <a
                                    data-fancybox="landscape"
                                    data-caption="{{ image|title }}"
                                    href="{% static 'images/photography/landscape/'|add:image|add:'.png' %}">
                                <span class="image fit">
                                        <img src="{% static 'images/photography/landscape/'|add:image|add:'.png' %}"
                                             alt="{{ image|title }}"/>
                                </span>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </article>
            <article class="scroll-animate-up">
                <header>
                    <h2><a href="#">Wildlife Photography</a></h2>
                </header>
                <a data-fancybox="wildlife" data-caption="wildlife"
                   href="{% static 'images/photography/wildlife/wildlife01.png' %}" class="image fit"><img
                        src="{% static 'images/photography/wildlife/wildlife01.png' %}" alt="wildlife01"/></a>
                <div class="row gtr-30 gtr-uniform">
                    {% for image in wildlife_images %}
                        <div class="col-6">
                            <a
                                    data-fancybox="wildlife"
                                    data-caption="{{ image|title }}"
                                    href="{% static 'images/photography/wildlife/'|add:image|add:'.png' %}">
                                <span class="image fit">
                                        <img src="{% static 'images/photography/wildlife/'|add:image|add:'.png' %}"
                                             alt="{{ image|title }}"/>
                                </span>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </article>
            <article class="scroll-animate-down">
                <header>
                    <h2><a href="#">Model Photography</a></h2>
                </header>
                <a data-fancybox="model" data-caption="model01"
                   href="{% static 'images/photography/model/model01.png' %}" class="image fit"><img
                        src="{% static 'images/photography/model/model01.png' %}" alt="model01"/></a>
                <div class="row gtr-30 gtr-uniform">
                    {% for image in model_images %}
                        <div class="col-6">
                            <a
                                    data-fancybox="modeling"
                                    data-caption="{{ image|title }}"
                                    href="{% static 'images/photography/model/'|add:image|add:'.png' %}">
                                <span class="image fit">
                                        <img src="{% static 'images/photography/model/'|add:image|add:'.png' %}"
                                             alt="{{ image|title }}"/>
                                </span>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </article>
            <article class="scroll-animate-up">
                <header>
                    <h2><a href="#">Event Photography</a></h2>
                </header>
                <a data-fancybox="event" data-caption="event01"
                   href="{% static 'images/photography/event/event01.png' %}" class="image fit"><img
                        src="{% static 'images/photography/event/event01.png' %}" alt="event01"/></a>
                <div class="row gtr-30 gtr-uniform">
                    {% for image in event_images %}
                        <div class="col-6">
                            <a
                                    data-fancybox="event"
                                    data-caption="{{ image|title }}"
                                    href="{% static 'images/photography/event/'|add:image|add:'.png' %}">
                                <span class="image fit">
                                        <img src="{% static 'images/photography/event/'|add:image|add:'.png' %}"
                                             alt="{{ image|title }}"/>
                                </span>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </article>
{#            <article class="scroll-animate-down">#}
{#                <header>#}
{#                    <h2><a href="#">Street Photography</a></h2>#}
{#                </header>#}
{#                <a data-fancybox="gallery" data-caption="wildlife01"#}
{#                   href="{% static 'images/photography/wildlife/wildlife01.png' %}" class="image fit"><img#}
{#                        src="{% static 'images/photography/wildlife/wildlife01.png' %}" alt="wildlife01"/></a>#}
{#                <div class="row gtr-30 gtr-uniform">#}
{#                    {% for image in wildlife_images %}#}
{#                        <div class="col-6">#}
{#                            <a#}
{#                                    data-fancybox="gallery"#}
{#                                    data-caption="{{ image|title }}"#}
{#                                    href="{% static 'images/photography/wildlife/'|add:image|add:'.png' %}">#}
{#                                <span class="image fit">#}
{#                                        <img src="{% static 'images/photography/wildlife/'|add:image|add:'.png' %}"#}
{#                                             alt="{{ image|title }}"/>#}
{#                                </span>#}
{#                            </a>#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                </div>#}
{#            </article>#}
{#         <article class="scroll-animate-down">#}
{#                <header>#}
{#                    <h2><a href="#">Food Photography</a></h2>#}
{#                </header>#}
{#                <a data-fancybox="gallery" data-caption="wildlife01"#}
{#                   href="{% static 'images/photography/wildlife/wildlife01.png' %}" class="image fit"><img#}
{#                        src="{% static 'images/photography/wildlife/wildlife01.png' %}" alt="wildlife01"/></a>#}
{#                <div class="row gtr-30 gtr-uniform">#}
{#                    {% for image in wildlife_images %}#}
{#                        <div class="col-6">#}
{#                            <a#}
{#                                    data-fancybox="gallery"#}
{#                                    data-caption="{{ image|title }}"#}
{#                                    href="{% static 'images/photography/wildlife/'|add:image|add:'.png' %}">#}
{#                                <span class="image fit">#}
{#                                        <img src="{% static 'images/photography/wildlife/'|add:image|add:'.png' %}"#}
{#                                             alt="{{ image|title }}"/>#}
{#                                </span>#}
{#                            </a>#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                </div>#}
{#            </article>#}
        </section>

        <footer></footer>
    </div>

{% endblock %}