{% extends 'index.html' %}
{% load static %}
{% block main %}

    <!-- Main -->
    <div id="main">

        <!-- Featured Post -->
        <article class="post featured">
            <header class="major scroll-animate-up">
                <span class="date" id="live-time"></span>
                <h2><a href="#">Programming Life</a></h2>
                <p>
                    <a href="#commence">Commence</a> |
                    <a href="#higher-studies">Higher Studies</a> |
                    <a href="#career">Career</a> |
                    <a href="#tech-stack">Tech Stack</a>
                </p>
            </header>

            {#            <a href="#" class="image main scroll-animate-down">#}
            {#                <img src="{% static 'images/pic01.jpg' %}" alt=""/>#}
            {#            </a>#}

            <!-- Commence Section -->
            <div id="commence" class="sub-article">
                <h2 class="title scroll-animate-left">Commence</h2>
                <p class="scroll-animate-up">
                    <a href="https://nalandacollege.lk/" target="_blank" rel="noopener noreferrer">
                        <span class="image left" style="max-width: 20%;">
                            <img src="{% static 'images/common/nalanda.png' %}" alt="Nalanda College"/>
                        </span>
                    </a>
                    My passion for programming <b>began during my school years at
                    <a href="https://nalandacollege.lk/" target="_blank" rel="noopener noreferrer">Nalanda College,
                        Colombo 10</a></b>,
                    where I was first introduced to the fascinating world of computers.
                    I studied ICT for both my <b>Ordinary Level (O/L) and Advanced Level (A/L) examinations</b>,
                    achieving good marks in both.

                    These studies gave me a strong foundation in various <b>ICT concepts such as HTML, CSS, JavaScript,
                    Python, MySQL, computer systems, software applications, networking, pseudo-code, algorithms, and the
                    history of ICT.</b> Through this learning, I developed a deep understanding of how websites and web
                    applications are structured and styled, how logic and interactivity are implemented, how databases
                    and
                    networks operate, and how different components of a computer system function together. I also
                    learned
                    the fundamentals of programming logic, problem-solving using algorithms, and how to plan solutions
                    using
                    pseudocode.

                    <a href="https://www.facebook.com/csnclabsofficial" target="_blank" rel="noopener noreferrer">
                        <span class="image right" style="max-width: 20%;">
                            <img src="{% static 'images/common/nalanda-cs.png' %}"
                                 alt="Nalanda College Computer Society"/>
                        </span>
                    </a>

                    What truly ignited my enthusiasm was my active role in the
                    <b><a href="https://www.facebook.com/csnclabsofficial" target="_blank" rel="noopener noreferrer">Nalanda
                        College Computer Society,</a></b>
                    where I organized tech events, participated in <b>coding competitions</b>, and mentored peers.
                    This experience not only developed my technical skills but also helped me grow as a
                    <b>leader and team player</b>, giving me the confidence and drive to pursue a professional career in
                    software engineering.
                </p>
            </div>
            <!-- Higher Studies Section -->
            <div id="higher-studies" class="sub-article">
                <h2 class="title scroll-animate-left">Higher Studies</h2>

                <p class="scroll-animate-up">
                    <a href="https://www.bcu.ac.uk/" target="_blank" rel="noopener noreferrer">
                        <span class="image left" style="max-width: 20%;">
                            <img src="{% static 'images/common/bcu-logo.png' %}" alt="BCU"/>
                        </span>
                    </a>
                    I earned a <b><a href="https://www.bcu.ac.uk/" target="_blank" rel="noopener noreferrer">Bachelor of
                    Science with Honours in Software
                    Engineering
                    from Birmingham City University, UK,</a></b> through its affiliated delivery at the Java Institute
                    for
                    Advanced Technology, Sri Lanka. This internationally recognized degree equipped me with both
                    theoretical
                    knowledge and practical skills across a wide range of subjects, including <b>Object-Oriented
                    Programming
                    Concepts, Object-Oriented Design Patterns, Data Structures and Algorithms, Object-Oriented System
                    Analysis and Design, Cyber Law, Web Development, Software Development, Computer Hardware,
                    Networking, Database Management Systems, Electronics for Software Engineering, and Handheld Device
                    Programming.</b>

                    I also worked extensively with languages and tools such as <b>Java, Java EE, Java Swing, PHP, HTML,
                    CSS,
                    JavaScript, Android, Hibernate, JPA, JUnit MySQL and Firebase.</b>

                    Through practical assignments, lab sessions, group projects, and real-world simulations, I was able
                    to
                    apply
                    what I learned in the classroom to build functional applications and solve complex problems, which
                    significantly
                    enhanced my technical and analytical skills.

                    As part of my university coursework, I also developed several <b>fully functional e-commerce
                    applications,
                    m-commerce applications, and desktop applications</b> that demonstrated my ability to apply
                    theoretical
                    knowledge to real-world software solutions.

                    <a href="https://www.sqa.org.uk/sqa/70972.html" target="_blank" rel="noopener noreferrer">
                        <span class="image right" style="max-width: 20%;">
                            <img src="{% static 'images/common/sqa-logo.png' %}" alt="SQA"/>
                        </span>
                    </a>

                    Prior to the degree, I completed a structured progression of qualifications awarded by the
                    <b><a href="https://www.sqa.org.uk/sqa/70972.html" target="_blank" rel="noopener noreferrer">Scottish
                        Qualifications Authority (SQA)</a>—
                        the Professional Diploma in Software Engineering (SQAF Level 7),
                        the Professional Higher Diploma in Software Engineering (SQAF Level 8), and
                        the PCJT Software Engineer III (SQAF Level 9)</b>—which laid a solid foundation for my academic
                    and
                    professional success in the software engineering field.
                </p>
            </div>
            <!-- Career Section -->
            <div id="career" class="sub-article">
                <h2 class="title scroll-animate-left">Career</h2>

                <p class="scroll-animate-up">
                    <a href="https://www.xdoto.io/" target="_blank" rel="noopener noreferrer">
                        <span class="image left" style="max-width: 20%;">
                            <img src="{% static 'images/common/xdoto-logo.png' %}" alt="Xdoto"/>
                        </span>
                    </a>

                    Professionally, I have gained <b>two years of professional experience as a full-stack developer at
                    <a href="https://www.xdoto.io/" target="_blank" rel="noopener noreferrer"> XdotO Concepts Pte
                        Limited,</a></b> having joined as an <b>intern
                    and quickly advanced to a Software Engineer</b> role, developing robust skills in <b>both backend
                    and
                    frontend technologies.</b>

                    During my time there, I contributed to several key projects, including
                    <b>Melioraa (an Industry 4.0 Machine Monitoring System), Dialog Power App (an Alarms and
                        Notification
                        Mobile Application), and Melioraa (a Process Monitoring System)</b>.
                    I designed and developed scalable web applications using <b>Java, Spring Boot, ReactJS, VueJS, PHP,
                    GO, HTML, CSS, JavaScript, Bootstrap, Material-UI, Grafana, JUnit, MySQL, Hibernate, JPA, Axios,
                    JSON, and Jasper Reports.</b> I built and maintained <b>RESTful APIs</b>, worked with
                    <b>microservices architecture</b>, and implemented <b>micro-frontend solutions</b>.
                    My responsibilities also included <b>Dockerizing applications, managing CI/CD pipelines, and
                    handling
                    deployments
                    with AWS.</b> I worked in <b>Agile teams, used Jira for tracking, Git(GitHub, GitLab) for version
                    control, and
                    Postman/Swagger
                    for API testing and documentation.</b>

                    I also developed <b>leadership skills</b> by leading small teams, handling planning, delegation, and
                    reviews.
                    This role enhanced my communication, problem-solving, and collaboration capabilities.
                </p>

                <p class="scroll-animate-up">
                    <a href="https://www.xdoto.io/" target="_blank" rel="noopener noreferrer">
                        <span class="image right" style="max-width: 25%;">
                            <img src="{% static 'images/programming/freelance.jpg' %}" alt="Freelance"/>
                        </span>
                    </a>

                    In addition to my full-time role, I have passionately pursued <b>freelance</b> projects that allowed
                    me
                    to explore and apply a wide range of technologies beyond the scope of my main job.

                    Driven by curiosity and a love for building meaningful solutions, I took on several freelance
                    assignments
                    where I independently learned and implemented <b>Python, Django, FastAPI, and MongoDB.</b>

                    These projects not only sharpened my technical skills but also deepened my <b>problem-solving
                    abilities,
                    strengthened my self-discipline, and fueled my continuous learning mindset—turning my passion into
                    tangible results.</b>
                </p>
            </div>

            <!-- Tech Stack -->
            <div id="tech-stack" class="sub-article">
                <h2 class="title scroll-animate-left">Tech Stack</h2>
                <ul>
                    <li class="scroll-animate-up"><b>Programming Languages:</b> Java, Java EE, JavaScript, Python, PHP, GO</li>
                    <li class="scroll-animate-up"><b>Frameworks & Libraries:</b> Spring Boot, ReactJS, Django, FastAPI, VueJS</li>
                    <li class="scroll-animate-up"><b>Databases & ORM:</b> MySQL, Oracle, MongoDB, Firebase, Hibernate, JPA</li>
                    <li class="scroll-animate-up"><b>Frontend & UI Technologies:</b> HTML, CSS, Bootstrap, Material-UI</li>
                    <li class="scroll-animate-up"><b>Cloud & Deployment:</b> AWS, Google Cloud</li>
                    <li class="scroll-animate-up"><b>Containerization:</b> Docker</li>
                    <li class="scroll-animate-up"><b>Data Formats & Communication:</b> JSON</li>
                    <li class="scroll-animate-up"><b>Operating Systems:</b> Windows, Android, Linux, Ubuntu</li>
                    <li class="scroll-animate-up"><b>Version Control & Project Management:</b> GIT (GitHub, GitLab, Bitbucket), Jira</li>
                    <li class="scroll-animate-up"><b>Tools & Platforms:</b> Postman, Axios,
                        Swagger, Jasper Reports, Grafana
                    </li>
                    <li class="scroll-animate-up"><b>Architectures:</b> Microservices, RESTful APIs, Micro-frontends
                    </li>
                    <li class="scroll-animate-up"><b>Development Practices:</b> Agile, Test Case Development (JUnit)
                    </li>
                </ul>


                <!-- Tech Icon Grid -->
                <div class="box alt">
                    <div class="row gtr-30 gtr-uniform">
                        {% for tech_icon in tech_icons %}
                            <div class="col-1 scroll-animate-down">
                                <span class="image fit">
                                    <img src="{% static 'icons/'|add:tech_icon|add:'.svg' %}"
                                         alt="{{ tech_icon|title }}"/>
                                </span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <br>

            <!-- Final Paragraph -->
            <p class="scroll-animate-up">
                For me, <b>programming isn’t just a job</b> — it’s a mindset of solving problems, automating processes,
                and constantly learning something new. Whether I’m refactoring code, debugging a tricky issue, or
                architecting a scalable system, I approach every task with creativity, precision, and purpose.
                As I look ahead, <b>I’m excited</b> to continue building, exploring, and pushing the boundaries of what
                technology can do — both as a developer and as a lifelong learner in this ever-evolving field.
            </p>

            <i class="fa-solid fa-arrow-down"></i>
        </article>


        <!-- Posts -->
        <section class="posts">
            <article class="scroll-animate-up">
                <header>
                    <h2><a href="#" class="open-modal" data-page="melioraa.html">Melioraa</a></h2>
                </header>
                <a href="#" class="image fit open-modal" data-page="melioraa.html"><img
                        src="{% static 'images/programming/melioraa/melioraa01.png' %}" alt="Melioraa"/></a>
                <p>Melioraa is an <b>Industry 4.0 Machine Monitoring System</b> developed by <b>XdotO Concepts Pte
                    Limited.</b> Designed to enhance industrial efficiency and real-time visibility, Melioraa leverages
                    advanced technologies to <b>monitor, analyze, and optimize machine performance</b> across
                    manufacturing
                    environments. This innovative solution empowers factories with <b>data-driven insights, predictive
                        maintenance capabilities, and seamless integration with existing systems, helping businesses
                        improve
                        productivity and reduce downtime.</b></p>
                <ul class="actions special">
                    <li><a href="#" class="button open-modal" data-page="melioraa.html">Full Story</a></li>
                </ul>
            </article>
            <article class="scroll-animate-down">
                <header>
                    <h2><a href="#" class="open-modal" data-page="dialog_power_app.html">Dialog Power App</a></h2>
                </header>
                <a href="#" class="image fit open-modal" data-page="dialog_power_app.html"><img
                        src="{% static 'images/programming/dialog_power_app/dialog-power-app01.png' %}"
                        alt="Dialog Power App"/></a>
                <p>Dialog Power App is an <b>Alarms and Notification Mobile Application</b> developed by <b>XdotO
                    Concepts Pte Limited in collaboration with Dialog Axiata PLC.</b> The app is designed to <b>deliver
                    real-time alerts and critical notifications, enabling efficient monitoring and quick response to
                    system events.</b> Tailored for enterprise use, the solution enhances operational awareness and
                    ensures
                    seamless communication within the <b>Dialog Axiata infrastructure.</b></p><br>
                <ul class="actions special">
                    <li><a href="#" class="button open-modal" data-page="dialog_power_app.html">Full Story</a></li>
                </ul>
            </article>
            <article class="scroll-animate-up">
                <header>
                    <h2><a href="#" class="open-modal" data-page="morex.html">Morex</a></h2>
                </header>
                <a href="#" class="image fit open-modal" data-page="morex.html"><img
                        src="{% static 'images/programming/morex/morex01.png' %}" alt="Morex"/></a>
                <p>Morex is a <b>Process Monitoring System</b> developed by <b>XdotO Concepts Pte Limited</b> as a
                    subproject for <b>Morex Industries.</b> Designed to <b>enhance operational visibility, the system
                        enables real-time monitoring and analysis of production processes, ensuring improved efficiency,
                        reduced downtime, and data-driven decision-making within the manufacturing environment.</b></p>
                <br>
                <ul class="actions special">
                    <li><a href="#" class="button open-modal" data-page="morex.html">Full Story</a></li>
                </ul>
            </article>
            <article class="scroll-animate-down">
                <header>
                    <h2><a href="#" class="open-modal" data-page="ndcamera.html">NDCamera</a></h2>
                </header>
                <a href="#" class="image fit open-modal" data-page="ndcamera.html"><img
                        src="{% static 'images/programming/ndcamera/ndcamera01.png' %}" alt="NDCamera"/></a>
                <p>NDCamera is a fully functional <b>E-Commerce and M-Commerce applications,</b> individually developed
                    as my <b>final year university project.</b> Designed as an <b>online camera shop,</b> the project
                    enables users to <b>browse, purchase, and tracking products</b> through both web and mobile
                    platforms.
                    NDCamera showcases my end-to-end development skills, from UI/UX design to backend integration and
                    payment processing.</p>
                <ul class="actions special">
                    <li><a href="#" class="button open-modal" data-page="ndcamera.html">Full Story</a></li>
                </ul>
            </article>
            <article class="scroll-animate-up">
                <header>
                    <h2><a href="#" class="open-modal" data-page="pamunuwila_hardware.html">PAMUNUWILA HARDWARE (Pvt)
                        Ltd</a></h2>
                </header>
                <a href="#" class="image fit open-modal" data-page="pamunuwila_hardware.html"><img
                        src="{% static 'images/programming/pamunuwila_hardware/pamunuwila-hardware01.png' %}"
                        alt="PAMUNUWILA HARDWARE (Pvt) Ltd"/></a>
                <p>PAMUNUWILA HARDWARE (Pvt) Ltd is a <b>fully functional desktop application</b> developed as my
                    <b>first-year final project at university.</b> Designed for <b>Hardware Shop Management,</b> the
                    system includes features such as <b>inventory control, sales tracking, customer management, billing,
                        and other essential business operations.</b> This project demonstrates my early experience in
                    building
                    practical software solutions with a focus on real-world business needs.
                </p>
                <ul class="actions special">
                    <li><a href="#" class="button open-modal" data-page="pamunuwila_hardware.html">Full Story</a></li>
                </ul>
            </article>
            <article class="scroll-animate-down">
                <header>
                    <h2><a href="#" class="open-modal" data-page="adyapana.html">ADYAPANA<br>&nbsp</a></h2>
                </header>
                <a href="#" class="image fit open-modal" data-page="adyapana.html"><img
                        src="{% static 'images/programming/adyapana/adyapana01.png' %}" alt="ADYAPANA"/></a>
                <p>ADYAPANA is a simple <b>Desktop Application</b> developed as a <b>first-year university
                    assignment,</b> aimed at <b>Managing Educational Centers</b> efficiently. The system includes key
                    features such as <b>student management, teacher management, subject management, class management,
                        and
                        payment management.</b> This project reflects my foundational skills in designing structured and
                    user-friendly desktop software for administrative purposes.</p>
                <br>
                <ul class="actions special">
                    <li><a href="#" class="button open-modal" data-page="adyapana.html">Full Story</a></li>
                </ul>
            </article>
            {#             <article>#}
            {#                <header>#}
            {#                    <h2><a href="#" class="open-modal" data-page="melioraa.html">Calculator</a></h2>#}
            {#                </header>#}
            {#                <a href="#" class="image fit open-modal" data-page="melioraa.html"><img src="{% static 'images/pic07.jpg' %}" alt=""/></a>#}
            {#                <p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque#}
            {#                    venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>#}
            {#                <ul class="actions special">#}
            {#                                <li><a href="#" class="button open-modal" data-page="melioraa.html">Full Story</a></li>#}
            {#                </ul>#}
            {#            </article>#}
            <article class="scroll-animate-up">
                <header>
                    <h2><a href="#" class="open-modal" data-page="opd_channeling.html">OPD Channeling</a></h2>
                </header>
                <a href="#" class="image fit open-modal" data-page="opd_channeling.html"><img
                        src="{% static 'images/programming/opd_channeling/opd-channeling01.png' %}"
                        alt="OPD Channeling"/></a>
                <p>OPD Channeling is a fully functional <b>E-Channeling Web Platform</b> developed as
                    a <b>second-year university assignment.</b> The main focus of the application is to manage
                    e-channeling operations, including <b>patient handling, doctor handling, and hospital handling.</b>
                    This project demonstrates my foundational skills in developing real-world healthcare solutions using
                    web technologies with a focus on usability and efficiency.</p>
                <br>
                <ul class="actions special">
                    <li><a href="#" class="button open-modal" data-page="opd_channeling.html">Full Story</a></li>
                </ul>
            </article>
            <article class="scroll-animate-down">
                <header>
                    <h2><a href="#" class="open-modal" data-page="imagescave.html">ImagesCave</a></h2>
                </header>
                <a href="#" class="image fit open-modal" data-page="imagescave.html"><img
                        src="{% static 'images/programming/imagescave/imagescave01.png' %}" alt="ImagesCave"/></a>
                <p>ImagesCave is a fully functional <b>Image Selling Web Platform</b> developed as a <b>main project
                    during my second year at university.</b> The platform supports <b>both image buying and selling,</b>
                    allowing <b>photographers and graphic designers to upload and sell their work while customers can browse, purchase, and
                        download high-quality images.</b> This project highlights my skills in building complete
                    e-commerce
                    solutions with user roles, secure transactions, and media handling capabilities.</p>
                <ul class="actions special">
                    <li><a href="#" class="button open-modal" data-page="imagescave.html">Full Story</a></li>
                </ul>
            </article>
            <article class="scroll-animate-up">
                <header>
                    <h2><a href="#" class="open-modal" data-page="election_sri_lanka.html">Election Sri Lanka</a></h2>
                </header>
                <a href="#" class="image fit open-modal" data-page="election_sri_lanka.html"><img
                        src="{% static 'images/programming/election_sri_lanka/election-sri-lanka01.png' %}"
                        alt="Election Sri Lanka"/></a>
                <p>Election Sri Lanka is a fully functional <b>Online Election Platform</b> developed as a <b>second-year
                    university assignment.</b> The system is designed to manage the complete election process digitally,
                    including <b>voter management, candidate management, secure voting, and result generation.</b>
                    This
                    project demonstrates my ability to develop secure and efficient web-based applications for
                    real-world use cases.</p>
                <ul class="actions special">
                    <li><a href="#" class="button open-modal" data-page="election_sri_lanka.html">Full Story</a></li>
                </ul>
            </article>
            <article class="scroll-animate-down">
                <header>
                    <h2><a href="#" class="open-modal" data-page="health_first.html">Health First</a></h2>
                </header>
                <a href="#" class="image fit open-modal" data-page="health_first.html"><img
                        src="{% static 'images/programming/health_first/health-first01.png' %}" alt="Health First"/></a>
                <p>Health First is a <b>simple website</b> developed for a <b>Fitness Center</b> as my <b>first
                    university web project.</b> The site features a <b>gallery, class schedules, upcoming events, and
                    contact information,</b> providing visitors with essential details and an engaging online presence.
                    This
                    project laid the foundation for my skills in web development and user experience design.</p><br>
                <ul class="actions special">
                    <li><a href="#" class="button open-modal" data-page="health_first.html">Full Story</a></li>
                </ul>
            </article>
        </section>

        <footer></footer>
    </div>

{% endblock %}