# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
wsgi.py
# Ignore log files
*.log
logs/
*.bak
*.tmp
app.log

